
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(237,237,237);
    background: radial-gradient(circle, rgba(237,237,237,1) 0%, rgba(190,190,190,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}



.display-box {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    background-color: #ffffff;
    border: solid rgb(156, 156, 156) 0.5px;
    color: black;
    border-radius: 5px;
    width: 400px;
    height: 50px;
}




input[type=button] {
    font-family: 'Arial', sans-serif;
    font-size: 200%;
    background: rgb(87, 86, 86);
    color: white;
    border: solid rgb(255, 255, 255) 0.5px;
    border-radius: 5px;
    outline: none;
    text-align: center;
    width: 100px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    line-height: 50px; /* Match the height of the button for vertical centering */
    padding: 0;
 } /* Remove padding */

input[id=clear] {
    background-color: #0d3cd6;
}

input[id=equals] {
    background-color: #0d3cd6;
}

input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
